.QuestionPreview {
  width: 550px;
  border-radius: 2%;
  border: 1px solid gray;
  padding: 20px 35px;
  margin: 10px auto;
  text-align: left;

  .header {
    p {
      color: gray;
      font-weight: 500;
    }
  }

  .content {
    display: flex;

    .user-avatar {
      margin-right: 30px;

      img {
        border: 1px solid gray;
        border-radius: 100%;
        height: 150px;
      }
    }

    .question {
      width: 350px;

      .title {
        color: gray;
        font-size: 19px;
        font-weight: 600;
        margin: 10px 0;
      }

      .option-text {
        color: gray;
      }
  
      button {
        color: white;
        background-color: black;
        border: 1px solid #a94442;
        width: 100%;
        height: 40px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 5px;
        opacity: 0.9;
        margin-bottom: 5px;
      }
    }
  }


}
